#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-title {
  text-align: center;
}

.list-movie {
  text-align: center;
  border-radius: 13px;
  background-color: black;
  border: 1px solid gray;
  margin: 10px;
}

.input-movie {
  background-color: black;
  border: 1px solid white;
  border-radius: 13px;
  min-width: 200px;
}

.btn-delete {
  padding: 8px;
  background: none;
}

.text-input {
  min-width: 250px;
  border-radius: 10px 0 0 10px;
  border: none;
  color: white;
  padding: 5px 10px;
}

.add-btn {
  border-radius: 0 10px 10px 0;
  color: white;
  padding: 5px 10px;
}

.numbers-movie {
  color: white;
  font-weight: bold;
  padding: 2px 5px 2px 2px;
}
